body {
  margin: 0;
  font-size: 16px;
}
a {
  line-height: normal;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.block {
  display: block;
}
.text-center {
  text-align: center;
}
.items-center {
  align-items: center;
}
.product-wrapper {
  padding: 20px;
}
.product-title {
  color: #2699FB;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 30px;
}
.product-bg {
  background-color: #F1F9FF;
  color: #2699FB;
  margin: 0 0 20px;
}
.product-list-container .product-bg {
  padding: 20px 30px;
}
.product-list-container .product-bg a {
  height: 19px;
}
.product-name-header {
  position: relative;
}
.back-arrow-img-container {
  position: absolute;
  left: 0;
  top: 9px;
}
.product-details-wrapper .product-bg {
  padding: 10px 20px;
}
.product-short-description {
  width: 171px;
}
.product-not-edit {
  padding: 10px 0 10px 10px;
}
input {
  padding: 8px 20px;
  margin: 20px 0;
}
input,
textarea {
  font-size: 16px;
  font-family: 'Open Sans';
  border: 1px solid #BCE0FD;
  outline: none;
  width: 190px;
}
textarea {
  padding: 20px;
  resize: none;
  min-height: 100px;
}
img {
  cursor: pointer;
}