<template>
	<div>
		<div class="product-title text-center">Products</div>
		<div class="product-list-container">
			<div v-for="(product,index) in productListData" :key="product.id" class="flex product-bg items-center">
				<div class="flex-1">{{ product.productName }}</div>
				<div>
					<router-link :to="{name: 'ProductDetails',params: {id:product.productId}}" :product="product" class="block">
						<img @click="passingIndex(index)" src="../assets/img/Forward arrow small.png">
					</router-link>
				</div>
			</div>
		</div>
	</div> 
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	computed: {
		...mapGetters(['productListData'])
	},
	mounted() {
		if ( this.$store.state.isFetchingFromProductDetails === 'none' ) {
			this.$store.dispatch('getProductList');
		} else {
			this.$store.dispatch('getNewDataDetails');
			this.$forceUpdate();
		}
	},
	methods: {
		passingIndex(index) {
			this.$store.commit('getIndex',{value:index});
		}
	}
}
</script>
