<template>
  <div class="product-details-wrapper">
    <div class="product-name-header">
      <router-link to="/" class="back-arrow-img-container">
        <img @click="passDataDetails(productDetailsData)" src="../assets/img/Backward arrow.png" />
      </router-link>
      <div class="product-title text-center">{{ productDetailsData.productName }}</div>
    </div>
    <div>
    <div class="product-bg">
      <div class="flex items-center">
        <div class="flex-1">
          <div v-if="!editTitle" class="product-not-edit">{{ productDetailsData.productName }}</div>
          <div v-if="editTitle" ><input text="text" v-model="storeProductTitle" /></div>
        </div>
        <div>
          <img v-if="!editTitle" @click="editDataTitle(productDetailsData.productName)" src="../assets/img/Compose.png" />
          <img v-if="editTitle" @click="updateDataTitle(storeProductTitle)" src="../assets/img/Yes.png" />
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex-1">
          <div v-if="!editShortDescription" class="product-short-description product-not-edit">
            {{ productDetailsData.productShortDescription }}
          </div>
           <div v-if="editShortDescription" ><textarea text="text" v-model="storeShortDescription"></textarea></div>
        </div>
        <div>
          <img v-if="!editShortDescription" @click="editDataDescription(productDetailsData.productShortDescription)" src="../assets/img/Compose.png" />
          <img v-if="editShortDescription" @click="updateDataDescription(storeShortDescription)" src="../assets/img/Yes.png" />
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      editTitle: false,
      editShortDescription: false,
      storeProductTitle: '',
      storeShortDescription: '',
    };
  },
  computed: {
    productDetailsData () {
      return this.$store.state.productDetails
    }
  },
  mounted() {
    this.getProductDetails()
  },
  methods: {
    getProductDetails() {
      this.$store.commit('setProductData',{value: this.$route.params.id})
      this.$store.commit('getProductData')
    },
    editDataTitle(titleData) {
      this.storeProductTitle = titleData;
      this.editTitle = true;
    },
    editDataDescription(descriptionData) {
      this.storeShortDescription = descriptionData;
      this.editShortDescription = true;
    },
    updateDataDescription(updateDescription){
      this.$store.state.productDetails.productShortDescription = updateDescription;
      this.editShortDescription = false;
    },
    updateDataTitle(updatedTitle) {
      this.$store.state.productDetails.productName = updatedTitle;
      this.editTitle = false;
    },
    passDataDetails(data) {
      this.$store.commit('fetchDataDetails',{value: data});
    }
  }
}
</script>