<template>
  <div class="product-wrapper">
    <router-view />
  </div>
</template>

<style lang="scss">
.product-wrapper {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
